// Sizes
$app-height: 820px;
$logo-width: 500px;
$deck-list-width: 273px;
$deck-list-group-height: 678px;
$deck-list-group-width: 180px;
$deck-list-height: 72px;
$mana-curve-height: 115px;
$mana-curve-width: 100%;
$mana-curve-bar-width: 8px;
$deck-current-width: 216px;
$deck-current-height: $app-height;
$deck-current-cpt-height: 35px;
$deck-current-cpt-width: 100%;
$deck-current-frame-width: 218px;
$deck-count-width: 85px;
$collection-frame-width: 100%;
$deck-name-width: 150px;
$deck-name-height: 45px;
$frame-height: 35px;
$menu-title-width: 90%;
$menu-action-width: 60px;
$remove-deck-width: 20px;
$remove-deck-height: 20px;
$navBar-width: 1355px;
$navBar-small-width: 1155px;
$navBar-height: 50px;
$navBar-filters-search-width: 200px;
$navBar-filters-search-height: 47px;
$navBar-filters-select-height: 47px;
$navBar-filters-select-heroes-width: 102px;
$navBar-filters-select-heroes-outer-width: 250px;
$navBar-filters-select-rarity-width: 106px;
$navBar-filters-select-rarity-outer-width: 160px;
$navBar-filters-select-set-width: 126px;
$navBar-filters-select-set-outer-width: 250px;
$navBar-filters-select-type-width: 120px;
$navBar-filters-select-type-outer-width: 120px;
$navBar-filters-select-race-width: 110px;
$navBar-filters-select-race-outer-width: 110px;
$navBar-filters-select-mechanics-width: 175px;
$navBar-filters-select-mechanics-outer-width: 175px;
$navBar-filters-select-status-width: 155px;
$navBar-filters-select-status-outer-width: 155px;
$search-area-width: 100%;
$search-area-cards-wrapper-height: 715px;
$search-area-cards-wrapper-cards-height: 583px;
$search-area-cards-wrapper-cristals-width: 240px;
$search-area-cards-wrapper-cristals-image-height: 20px;
$search-area-card-width: 188px;
$footer-height: 60px;
$footer-left-height: 60px;
$footer-left-width: 52px;
$footer-content-height: 60px;
$footer-content-width: 160px;
$footer-right-height: 60px;
$footer-right-width: 52px;
$modal-header-height: 129px;
$modal-header-close-height: 24px;
$modal-header-close-width: 36px;
$modal-body-height: 227px;
$modal-footer-height: 53px;
$modal-add-hero-width: 128px;
$modal-add-input-width: 80%;
$modal-settings-height: 220px;
$modal-settings-select-width: 200px;
$modal-remove-height: 220px;

// Colors
$body-background: #000000;
$text-special-color: #4F3C1D;
$text-color: #FFFFFF;
$modal-text-color: #000000;
$text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
$mana-curve-bar-background-color: red;
$deck-name-error-color: red;
$deck-current-background-color: #696969;

// Images
$menu-background: url('../images/ui/menu/background.png');
$frame-countbox-background: url('../images/ui/deck-current/frame_countbox.png');
$remove-deck-background: url('../images/ui/menu/remove-deck.png');
$mana-curve-background: url('../images/ui/menu/mana-curve.png');
$mana-curve-bar-background: url('../images/ui/menu/mana-curve-bar.png');
$menu-btn-background: url('../images/ui/menu/btn.png');
$footer-left-background: url('../images/ui/footer/footer-left.png');
$footer-content-background: url('../images/ui/footer/footer-content.png');
$footer-right-background: url('../images/ui/footer/footer-right.png');
$modal-header-background: url('../images/ui/modal/modal-top.png');
$modal-body-background: url('../images/ui/modal/modal-body.png');
$modal-footer-background: url('../images/ui/modal/modal-footer.png');
$search-area-background: url('../images/ui/search-area.png');

// Fonts
$font-size: 15px;
$font-family-hs: HearthstoneFont, serif;
$font-family: Helvetica, serif;
