@import "variables";

@font-face {
  font-family: HearthstoneFont;
  src: url('../fonts/OPTIBelwe-Medium.otf');
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body { background: $body-background; }

// Card frame (my collection / my decks)
.frame {
  height: $frame-height;
  background-repeat: no-repeat;
  margin: 0;
  padding: 7px 0 7px 37px;
  position: relative;
  cursor: pointer;

  .name {
    font-family: $font-family-hs;
    color: $text-color;
    font-weight: bold;
    font-size: 11px;
    @include no-select;
  }

  .cost {
    position: absolute;
    top: 3px;
    left : 11px;
    color: $text-color;
    font-weight: bold;
    font-size: 20px;
    font-family: $font-family-hs;
    text-shadow: $text-shadow;
    @include no-select;

    &.expensive {
      top: 6px;
      left: 8px;
      font-size: $font-size;
    }
  }

  .countbox {
    position: absolute;
    top: 6px;
    width: 25px;
    height:24px;
    background: $frame-countbox-background;
    display: none;
    @include no-select;

    img {
      position: absolute;
      top: 0;
      right: 1px;
    }

    &.enable {
      display: block;
    }
  }
}

#hearthstone {
  .logo {
    text-align: center;
    width: $logo-width;
    margin: 0 auto 10px auto;
    display: block;
    @include no-select;
  }

  .main-app {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 10px;

    .deck-builder {
      order: 1;
      height: $app-height;
      display: flex;

      .menu {
        order: 1;
        margin-right: 5px;
        width: $deck-list-width;
        flex: 1 auto;
        background-image: $menu-background;
        background-repeat: no-repeat;
        background-position: center top;
        position: relative;

        .title {
          text-align: center;
          font-size: $font-size;
          font-family: $font-family-hs;
          position: absolute;
          font-weight: bold;
          color: $text-special-color;
          top: 18px;
          width: $menu-title-width;
          @include no-select;
        }

        .list-group {
          height: $deck-list-group-height;
          width: $deck-list-group-width;
          position: absolute;
          overflow-y: scroll;
          top: 75px;
          left: 31px;
          margin: 0;

          .list-group-item {
            position: relative;
            border: 0;
            background-repeat: no-repeat;
            background-position: top center;
            background-color: transparent;
            padding: 0;
            height: $deck-list-height;
            margin: 5px 0 10px 0;

            .deck-name {
              position: absolute;
              top: 15px;
              left: 18px;
              width: $deck-name-width;
              height: $deck-name-height;
              cursor: pointer;

              span {
                font-size: $font-size;
                font-family: $font-family-hs;
                color: $text-color;
                text-shadow: $text-shadow;
                position: absolute;
                bottom: 0;
                @include no-select;
              }
            }

            .removeDeck {
              display: none;
              position: absolute;
              background-image: $remove-deck-background;
              background-repeat: no-repeat;
              background-position: center center;
              color: $text-color;
              border-radius: 50%;
              top: -5px;
              right: -1px;
              width: $remove-deck-width;
              height: $remove-deck-height;
              cursor: pointer;
            }

            .mana-curve {
              display:none;
              height: $mana-curve-height;
              background-image: $mana-curve-background;
              background-repeat: no-repeat;
              background-position: bottom center;
              position: absolute;
              bottom: 0;
              width: $mana-curve-width;;
              box-shadow: inset 0 10px 20px #000;

              .bar {
                position: absolute;
                bottom: 30px;
                background: $mana-curve-bar-background-color;
                width: $mana-curve-bar-width;
                background-image: $mana-curve-bar-background;
                background-repeat: no-repeat;
                background-position: top center;

                &.bar-0 {left: 34px;}
                &.bar-1 {left: 49px;}
                &.bar-2 {left: 64px;}
                &.bar-3 {left: 79px;}
                &.bar-4 {left: 94px;}
                &.bar-5 {left: 109px;}
                &.bar-6 {left: 124px;}
                &.bar-7 {left: 139px;}
              }
            }

            &.menu-btn {
              background-image: $menu-btn-background;
              font-size: $font-size;
              font-family: $font-family-hs;
              font-weight: bold;
              color: $text-special-color;
              text-align: center;
              padding: 25px 0;
              cursor: pointer;
              @include no-select;
            }

            &.active {
              height: $deck-list-height + $mana-curve-height;

              .mana-curve {
                display: block;
              }
            }

            &:hover {
              .removeDeck { display: block; }
            }

            &.error {
              .deck-name span{color: $deck-name-error-color;}
            }
          }

          .frame {
            width: $collection-frame-width;
            background-position: left center, right center;

            .countbox {
              right: 0;
            }
          }
        }

        .decks-count {
          font-size: $font-size;
          font-family: $font-family-hs;
          position: absolute;
          font-weight: bold;
          color: $text-color;
          bottom: 9px;
          left: 30px;
          width: $deck-count-width;
          text-align: right;
          text-shadow: $text-shadow;
          @include no-select;

          .cpt {
            font-size: 25px;
            margin-right: 5px;
          }
        }

        .menu-action {
          position: absolute;
          bottom: 15px;
          right: 37px;
          width: $menu-action-width;
          font-weight: bold;
          color: $text-special-color;
          text-align: center;
          cursor: pointer;
          font-size: $font-size;
          font-family: $font-family-hs;
          @include no-select;

          &:hover { color: $text-color; }
        }
      }

      .deck-current {
        order: 2;
        margin-left: 5px;
        width: 0;
        background: $deck-current-background-color;
        padding-bottom: 30px;
        position: relative;
        height: $deck-current-height;
        transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
        border: 0;

        .list {
          overflow-y: scroll;
          height: $deck-current-height - $deck-current-cpt-height;

          .frame {
            width: $deck-current-frame-width;
            background-position: right center;

            .countbox {
              right: 4px;
            }
          }
        }

        .cpt {
          position: absolute;
          bottom: 0;
          margin: 0;
          padding: 0;
          height: $deck-current-cpt-height;
          width: $deck-current-cpt-width;
          font-family: $font-family-hs;
          color: $text-color;
          font-weight: bold;
          font-size: 13px;
          display: flex;
          align-items: center;
          justify-content: center;
          @include no-select;

          img { margin-right: 15px; }

          .exportDeck {
            color: $text-color;

            &:hover {color: #000;}
          }
        }

        &.active { width: $deck-current-width; }
      }
    }

    .search-area {
      order: 2;
      width: $search-area-width;
      height: $app-height;
      overflow: hidden;
      border: 0;
      background-color: transparent;
      background-image: $search-area-background;
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 100% 100%;

      .navbar {
        width: $navBar-width;
        height: $navBar-height;
        margin-bottom: 0;
        padding: 56px 0 0 0;

        .filters {
          padding-left: 0;
          max-width: $navBar-filters-width;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;

          .search {
            width: $navBar-filters-search-width;
            height: $navBar-filters-search-height;
            margin-right: 20px;
          }

          .Select {
              margin-right: 20px;

              .Select-control {
                height: $navBar-filters-select-height;
              }

              .Select-placeholder {
                top: 4px;
              }

              .Select-arrow {
                top: 22px;
              }

              .Select-clear {
                padding: 12px 10px;
              }

              .Select-menu-outer img {
                border-radius: 50%;
                margin-right: 10px;
              }

              &.heroes {
                width: $navBar-filters-select-heroes-width;

                .Select-menu-outer{width: $navBar-filters-select-heroes-outer-width;}
              }
              &.rarity {
                width: $navBar-filters-select-rarity-width;

                .Select-menu-outer{width: $navBar-filters-select-rarity-outer-width;}
              }
              &.set {
                width: $navBar-filters-select-set-width;

                .Select-menu-outer{width: $navBar-filters-select-set-outer-width;}
              }
              &.type {
                width: $navBar-filters-select-type-width;

                .Select-menu-outer{width: $navBar-filters-select-type-outer-width;}
              }
              &.race {
                width: $navBar-filters-select-race-width;

                .Select-menu-outer{width: $navBar-filters-select-race-outer-width;}
              }
              &.mechanics {
                width: $navBar-filters-select-mechanics-width;

                .Select-menu-outer{width: $navBar-filters-select-mechanics-outer-width;}
              }
              &.status {
                width: $navBar-filters-select-status-width;

                .Select-menu-outer{width: $navBar-filters-select-status-outer-width;}
              }
            }
        }
      }

      .cards-wrapper{
        height: $search-area-cards-wrapper-height;
        padding: 105px 150px 170px 148px;
        position: relative;

        .cards {
          overflow-y: scroll;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          align-items: flex-start;
          align-content: flex-start;
          height: $search-area-cards-wrapper-cards-height;

          .card {
            flex-grow: 1;
            opacity: 0.6;
            @include no-select;

            img {
              width: $search-area-card-width;
              -webkit-transition: opacity 500ms ease-in-out;
              -moz-transition: opacity 500ms ease-in-out;
              -o-transition: opacity 500ms ease-in-out;
              transition: opacity 500ms ease-in-out;
            }

            &.owned {
              opacity: 1;
            }
            &.selectable {
              cursor: pointer;
            }
          }
        }

        .cristals {
          padding: 5px 0;
          width: $search-area-cards-wrapper-cristals-width;
          position: absolute;
          bottom: 27px;
          right: 142px;
          @include no-select;

          img {
            height: $search-area-cards-wrapper-cristals-image-height;
            cursor: pointer;
            margin-right: 3px;
            margin-bottom: 2px;
          }
        }

        .cards-cpt {
          position: absolute;
          right: 50%;
          bottom: 33px;
          font-size: 20px;
          font-family: $font-family-hs;
          font-weight: bold;
          color: $text-special-color;
          margin: 0;
        }
      }
    }
  }

  .footer {
    margin: 0;
    position: relative;
    height: $footer-height;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-left {
      background-image: $footer-left-background;
      background-repeat: no-repeat;
      background-position: left top;
      width: $footer-left-width;
      height: $footer-left-height;
    }

    .footer-content {
      background-image: $footer-content-background;
      background-repeat: repeat-x;
      background-position: center top;
      min-width: $footer-content-width;
      height: $footer-content-height;
      margin-left: -1px;
      text-align: center;

      a {
        text-align: center;
        font-size: $font-size;
        font-family: $font-family-hs;
        color: $text-color;
        height: $footer-content-height;
        padding: 17px 0;
        display: inline-block;
        cursor: pointer;
        @include no-select;

        &:hover { text-decoration: none; font-weight: bold; }
      }
    }

    .footer-right {
      background-image: $footer-right-background;
      background-repeat: no-repeat;
      background-position: right top;
      width: $footer-right-width;
      height: $footer-right-height;
    }
  }
}

.modal {
  .modal-header {
    background-image: $modal-header-background;
    background-repeat: no-repeat;
    background-position: top center;
    border: 0;
    height: $modal-header-height;

    .modal-title {
      text-align: center;
      font-size: $font-size;
      font-family: $font-family-hs;
      font-weight: bold;
      color: $text-special-color;
      padding-top: 5px;
      @include no-select;
    }

    .close {
      margin: 0;
      width: $modal-header-close-width;
      height: $modal-header-close-height;
      position: absolute;
      right: 22px;
      top: 40px;
      opacity: 0;
    }
  }

  .modal-content {
    border: 0;
    box-shadow: none;
    background: none;
  }

  .modal-body {
    background-image: $modal-body-background;
    background-repeat: repeat-y;
    background-position: center top;
    padding: 0 50px;
    margin-top: -1px;
    min-height: $modal-body-height;
  }

  .modal-footer {
    background-image: $modal-footer-background;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: $modal-footer-height;
    border: 0;
  }

  // Specific modal contents

  .modal-add {
    .heroes {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
      margin-bottom: 30px;

      .hero {
        flex: 1 auto;
        width: $modal-add-hero-width;

        img {
          cursor: pointer;
          margin: 0 auto;
          display: block;
        }

        &.active {
          -webkit-filter: drop-shadow(0px 0px 20px rgba(255,255,255,1));
        }
      }
    }

    input {
      width: $modal-add-input-width;
      margin: 0 auto;
      text-align: center;
    }
  }

  .modal-settings {
    text-align: center;
    font-size: $font-size;
    font-family: $font-family-hs;
    font-weight: bold;
    height: $modal-settings-height;

    a {
      color: $modal-text-color;
      cursor: pointer;
      display: block;
      padding: 10px 0;
    }

    .Select {
      width: $modal-settings-select-width;
      margin: 0 auto;

      .Select-menu-outer {
        text-align: left;

        img {
          margin-right: 10px;
          border: 1px solid #000000;
        }
      }
    }
  }

  .modal-remove {
    text-align: center;
    font-size: $font-size;
    font-family: $font-family-hs;
    font-weight: bold;
    color: $modal-text-color;
    position: relative;
    height: $modal-remove-height;

    img {
      position: absolute;
      bottom: 0;
      cursor: pointer;
      @include no-select;

      &.confirm {right: 100px;}
      &.cancel {left: 100px;}
    }
  }
}
